@model IEnumerable<Employee>
@{
	ViewBag.PageTitle = "Список сотрудников";
}

<p>
	<a asp-action="Edit" class="btn btn-success">Добавить</a>
</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th style="width:1%;">&nbsp;</th>
			<th>Фамилия имя и отчество</th>
			<th>Должность</th>
			<th style="width:1%;">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@if (User.IsInRole("Administrators"))
					{<a asp-action="Edit" asp-route-id="@item.Id" title="редактировать"><i class="text-success glyphicon glyphicon-edit"></i></a>}
					else
					{ <i class="text-muted glyphicon glyphicon-edit"></i>}
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id" title="просмотр">
						@item.FirstName
						@item.SurName
						@item.Patronymic
					</a>
				</td>
				<td>@item.Position</td>
				<td>
					@if (User.IsInRole("Administrators"))
					{<a asp-action="Delete" asp-route-id="@item.Id" title="удалить"><i class="text-danger glyphicon glyphicon-trash"></i></a>}
					else
					{ <i class="text-muted glyphicon glyphicon-trash"></i>}
				</td>
			</tr>
		}
	</tbody>
</table>
