@using WebStore.App01.Models
@model TeacherModel
@{
	ViewData["Title"] = "Карточка преподавателя";
}

<p><a href="@Url.Action("ListTeachers")"><i class="fas fa-arrow-left"></i>&nbsp;Обратно к списку</a></p>

<dl>

	<dt>Фамилия имя и отчество</dt>
	<dd>@Model.FIO</dd>

	<dt>Образование</dt>
	<dd>
		@Model.TeachingLevel<br />
		(@Model.TeachingQual, @Model.EmployeeQualification)
	</dd>

	<dt>Стаж работы</dt>
	<dd>
		общий: @Model.GenExperience<br />
		преподавательский: @Model.SpecExperience
	</dd>

	<dt>Преподаваемые дисциплины</dt>
	<dd>
		@if (Model.TeachingDisciplines.Any())
		{
			<ul>
				@foreach (var item in Model.TeachingDisciplines)
				{
					<li>@item</li>
				}
			</ul>
		}
	</dd>

</dl>
