<ul class="nav navbar-nav collapse navbar-collapse">
	<li><a href="@Url.Action("Index", "Home")" class="active">Home</a></li>
	<li class="dropdown">
		<a href="#">Shop<i class="fa fa-angle-down"></i></a>
		<ul role="menu" class="sub-menu">
			<li><a href="@Url.Action("Shop", "Home")">Products</a></li>
			<li><a href="@Url.Action("ProductDetails", "Home")">Product Details</a></li>
			<li><a href="@Url.Action("Checkout", "Home")">Checkout</a></li>
			<li><a href="@Url.Action("Cart", "Home")">Cart</a></li>
			<li><a href="@Url.Action("Login", "Home")">Login</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#">Blog<i class="fa fa-angle-down"></i></a>
		<ul role="menu" class="sub-menu">
			<li><a href="@Url.Action("Blog", "Home")">Blog List</a></li>
			<li><a href="@Url.Action("BlogSingle", "Home")">Blog Single</a></li>
		</ul>
	</li>
	<li><a href="@Url.Action("Error404", "Home")">404</a></li>
	<li><a href="@Url.Action("ContactUs", "Home")">Contact</a></li>
	<li class="dropdown">
		<a href="#" style="color:red; font-weight:bold;">Admin<i class="fa fa-angle-down"></i></a>
		<ul role="menu" class="sub-menu">
			<li><a href="@Url.Action("Index", "Employees")">Employees</a></li>
			<li><a href="@Url.Action("Index", "Currencies")">Currencies</a></li>
		</ul>
	</li>
</ul>